<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Estratificação Movimentos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div class="header">
      <div class="center">
      </div>
    </div>

    <div class="formEstratificacao">
      <h1> Estratificação Movimentos</h1>
      <br>
      <form action="<%=acao%>" method="post">
        <table>
          <% movimentos.forEach(function(movimento){ %>  
              <tr>
                <td>
                  <%= movimento.mov_nome %> 
                  <a href="/alterarMovimento/<%= movimento.mov_codigo %>">Alterar</a>
                </td>
              </tr>
          <% }) %>
        </table>
    </form>
    </div>
  </body>
</html>