<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>DashBoard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Projetos</h1>
    <tbody>
      <tr>
        <td>
          <a href="/cadastrarProjeto">Projetos</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/cadastrarIntegrante">Integrantes</a>
        </td>
      </tr>
      <br>
      <br>
        <% integrantes.forEach(function(integrante){ %>  
            <tr>
              <%= integrante.int_nome %>
              <td colspan="4">
                <a href="/alterarIntegrante/<%= integrante.int_codigo %>">Alterar</a>
              </td>
            </tr>
          <br>
        <% }) %>
    </tbody>
  </body>
</html>
