<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Lançamento de Movimentos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <div class="center">
      </div>
    </div>

    <div class="formMovimentos">
      <h1> Lançamento de Movimentos</h1>

      <form action="<%=acao%>" method="post">

        <div class="input-container">
          <table>
            <tr>
               <td>
                 <span>Nome do Movimento</span>
                </td>
            </tr>
             <tr>
               <td>
                 <input type="text" name="edtNome">
                </td>
            </tr>

            <tr>
              <td>
                <span>Responsável</span>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text" name="edtResponsavel">
              </td>
            </tr>

          <tr>
            <td>
              <span>Data</span>
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" name="edtData">
            </td>
          </tr>
          
          <tr>
            <td>
              <span>Valor</span>       
            </td>
          </tr>
          <tr>
            <td>
              <input type="text" name="edtValor">
            </td>
          </tr>
        </table>

        <tr>
          <td>
            <span>Movimento</span>  
          </td>
        </tr>
        <tr>
          <td>
            <select id="selection" name="edtTipo">
              <option value="1">Entrada</option>
              <option value="2">Saida</option>
            </select>
          </td>
        </tr>

        </div>
        <input name="btnSalvar" id="salvaMovimento" type="submit" class="salvarMovimento" value="Salvar"> 
        <input name="btnCancelar" id="cancelaMovimento" type="button" value="Cancelar" class="cancelarMovimento" onclick="location.assign('/')">
    </form>
    </div>
  </body>
</html>