<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Lançamento de Movimentos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1> <%=titulo%> </h1>
      <!--Colocar escopo de lançamento de movimentos-->
  </body>
</html>