body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#salvaMovimento{
  color: #FFFF;
  background-color: #00B7FF;
}

#cancelaMovimento{
  color: #FFFF;
  background-color: #00B7FF;
}

#removeMovimento{
  color: #FFFF;
  background-color: red;
}